* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "audiowide";
  src: url("../font/audiowide.woff2") format("woff2"), url("../font/fontaudiowide.woff2") format("woff");
}
@font-face {
  font-family: "bethellen";
  src: url("../font/bethellen.woff2") format("woff2"), url("../font/bethellen.woff") format("woff");
}
@font-face {
  font-family: "audiowide";
  src: url("./font/audiowide.woff2") format("woff2"), url("./font/fontaudiowide.woff2") format("woff");
}
@font-face {
  font-family: "bethellen";
  src: url("./font/bethellen.woff2") format("woff2"), url("./font/bethellen.woff") format("woff");
}
:root {
  --font-size-nav: ;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-sand: #e4bf94;
  --color-orange: #e47610;
  --color-brown: #421e0a;
  --color-beige: #ffe0bc;
  --color-brown-clear: #bfac9a;
  --background-color-white: #ffffff;
  --background-color-black: #000000;
  --background-color-sand: #e4bf94;
  --background-color-orange: #e47610;
  --background-color-brown: #421e0a;
  --background-color-beige: #ffe0bc;
  --background-color-brown-clear: #bfac9a;
  --font-audiowide: "audiowide";
  --font-bethellen: "bethellen";
}

body {
  font-family: var(--font-audiowide);
}
body .navbar {
  display: flex;
  justify-content: center;
  background-color: var(--color-sand);
  font-family: var(--font-audiowide);
}
body .navbar a {
  font-family: var(--font-audiowide);
  color: var(--color-white);
  font-size: 0.9rem;
  text-decoration: none;
}
body .navbar a:hover {
  color: var(--color-orange);
}
@media (max-width: 992px) {
  body .navbar a {
    text-align: center;
  }
}
body .navbar .contain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 0.3rem);
  margin: 0 2.5rem 0 3rem;
}
@media (max-width: 992px) {
  body .navbar .contain {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 1.5rem 0 1.5rem;
  }
}
body .navbar .contain .navbar-brand {
  display: block;
  height: 100%;
  width: 12rem;
}
@media (max-width: 992px) {
  body .navbar .contain .navbar-brand {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    width: 90%;
  }
}
@media (max-width: 768px) {
  body .navbar .contain .navbar-brand {
    width: 80%;
  }
}
@media (max-width: 480px) {
  body .navbar .contain .navbar-brand {
    width: 70%;
  }
}
body .navbar .contain .navbar-brand img {
  height: 2.2rem;
  width: 12rem;
}
body .navbar .contain .navbar-collapse {
  flex-grow: 0;
  width: 100%;
}
body .navbar .contain .navbar-collapse .excvtend {
  display: flex;
  justify-content: center;
  width: 100%;
}
body .navbar .contain .navbar-collapse .excvtend .navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 78%;
}
body .navbar .contain .navbar-collapse .seConnecter {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 27.027027027%;
}
@media (max-width: 992px) {
  body .navbar .contain .navbar-collapse .seConnecter {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
body .navbar .contain .navbar-collapse .seConnecter svg {
  height: 1rem;
  width: 1rem;
}
body .navbar .contain .navbar-collapse .seConnecter .btn {
  width: auto;
}
body .container {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .row .col form {
  height: 34rem;
  width: 30rem;
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-sand);
  color: var(--color-white);
  font-size: 0.8rem;
}
body .container .row .col form h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
}
body .container .row .col form input {
  background-color: var(--color-sand);
  border: none;
  border-radius: 0;
  border-bottom: solid 1px var(--color-white);
  color: var(--color-white);
  padding: 0 2rem 0.5rem 0;
}
body .container .row .col form input::-moz-placeholder {
  color: var(--color-white);
}
body .container .row .col form input::placeholder {
  color: var(--color-white);
}
body .container .row .col form input:focus {
  box-shadow: none;
}
body .container .row .col form .input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
body .container .row .col form .input-wrapper .icon {
  position: absolute;
  right: 10px;
  top: 83%;
  transform: translateY(-50%);
}
body .container .row .col form .input-wrapper .icon-two {
  position: absolute;
  right: 10px;
  top: 48%;
  transform: translateY(-50%);
}
body .container .row .col form #inputEmail {
  margin-top: 4rem;
}
body .container .row .col form #inputPassword {
  margin: 3rem 0 3rem 0;
}
body .container .row .col form button {
  background-color: var(--background-color-brown);
  color: var(--color-brown-clear);
  border-radius: 0;
  width: 100%;
}
body .container .row .col form .remember-lost {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
body .container .row .col form .remember-lost span {
  display: flex;
  align-items: center;
  width: 50%;
}
body .container .row .col form .remember-lost span p {
  color: var(--color-white);
}
body .container .row .col form .remember-lost span:first-child {
  justify-content: start;
}
body .container .row .col form .remember-lost span:first-child input {
  margin-right: 1rem;
}
body .container .row .col form .remember-lost span:nth-child(2) {
  justify-content: end;
}
body .container .row .col form .remember-lost .psd-lost {
  text-decoration: underline;
}
body .container .row .col form .no-account {
  color: var(--color-white);
  margin-top: 3rem;
}
body .container .row .col form .no-account a {
  text-decoration: underline;
  color: var(--color-orange);
}/*# sourceMappingURL=connexion.css.map */