* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "audiowide";
  src: url("../font/audiowide.woff2") format("woff2"), url("../font/fontaudiowide.woff2") format("woff");
}
@font-face {
  font-family: "bethellen";
  src: url("../font/bethellen.woff2") format("woff2"), url("../font/bethellen.woff") format("woff");
}
@font-face {
  font-family: "audiowide";
  src: url("./font/audiowide.woff2") format("woff2"), url("./font/fontaudiowide.woff2") format("woff");
}
@font-face {
  font-family: "bethellen";
  src: url("./font/bethellen.woff2") format("woff2"), url("./font/bethellen.woff") format("woff");
}
:root {
  --font-size-nav: ;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-sand: #e4bf94;
  --color-orange: #e47610;
  --color-brown: #421e0a;
  --color-beige: #ffe0bc;
  --color-beige-dark: #bfac9a;
  --background-color-white: #ffffff;
  --background-color-black: #000000;
  --background-color-sand: #e4bf94;
  --background-color-orange: #e47610;
  --background-color-brown: #421e0a;
  --background-color-brown-clear: #774c34;
  --background-color-beige: #ffe0bc;
  --background-color-beige-dark: #bfac9a;
  --font-audiowide: "audiowide";
  --font-bethellen: "bethellen";
}

body {
  font-family: var(--font-audiowide);
}
body .navbar {
  display: flex;
  justify-content: center;
  background-color: var(--color-sand);
  font-family: var(--font-audiowide);
}
body .navbar a {
  font-family: var(--font-audiowide);
  color: var(--color-white);
  font-size: 0.9rem;
  text-decoration: none;
}
body .navbar a:hover {
  color: var(--color-orange);
}
@media (max-width: 992px) {
  body .navbar a {
    text-align: center;
  }
}
body .navbar .contain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 0.3rem);
  margin: 0 2.5rem 0 3rem;
}
@media (max-width: 992px) {
  body .navbar .contain {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 1.5rem 0 1.5rem;
  }
}
body .navbar .contain .navbar-brand {
  display: block;
  height: 100%;
  width: 12rem;
}
@media (max-width: 992px) {
  body .navbar .contain .navbar-brand {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    width: 90%;
  }
}
@media (max-width: 768px) {
  body .navbar .contain .navbar-brand {
    width: 80%;
  }
}
@media (max-width: 480px) {
  body .navbar .contain .navbar-brand {
    width: 70%;
  }
}
body .navbar .contain .navbar-brand img {
  height: 1.8rem;
  width: 10rem;
}
body .navbar .contain .navbar-collapse {
  flex-grow: 0;
  width: 100%;
}
body .navbar .contain .navbar-collapse .excvtend {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 5rem 0 5rem;
}
@media (max-width: 992px) {
  body .navbar .contain .navbar-collapse .excvtend {
    margin: 0;
  }
}
body .navbar .contain .navbar-collapse .excvtend .navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 78%;
}
body .navbar .contain .navbar-collapse .excvtend .navbar-nav li a {
  font-size: 0.7rem;
}
body .navbar .contain .navbar-collapse .seConnecter {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 27.027027027%;
}
@media (max-width: 992px) {
  body .navbar .contain .navbar-collapse .seConnecter {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
body .navbar .contain .navbar-collapse .seConnecter svg {
  height: 0.8rem;
  width: 0.8rem;
}
body .navbar .contain .navbar-collapse .seConnecter .btn {
  width: auto;
}
body .navbar .contain .navbar-collapse .seConnecter .btn a {
  font-size: 0.75rem;
}
body main .contact {
  height: 50rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-sand);
  font-family: var(--font-audiowide);
  padding: 4rem;
}
@media (max-width: 1024px) {
  body main .contact {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  body main .contact {
    padding: 2rem;
  }
}
body main .contact .letsDoThis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  color: var(--color-white);
  padding-bottom: 15rem;
}
@media (max-width: 1024px) {
  body main .contact .letsDoThis {
    width: 100%;
    height: 25rem;
    padding-bottom: 4rem;
  }
}
body main .contact .letsDoThis h2 {
  font-size: 5rem;
  font-family: var(--font-bethellen);
}
@media (max-width: 1600px) {
  body main .contact .letsDoThis h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  body main .contact .letsDoThis h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  body main .contact .letsDoThis h2 {
    font-size: 2rem;
  }
}
body main .contact .letsDoThis h2 .point {
  color: var(--color-orange);
}
body main .contact .letsDoThis .largeParagraph {
  color: inherit;
}
@media (max-width: 768px) {
  body main .contact .letsDoThis .largeParagraph {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  body main .contact .letsDoThis .largeParagraph {
    font-size: 0.7rem;
  }
}
body main .contact .letsDoThis .splitParagraph {
  display: flex;
}
body main .contact .letsDoThis .splitParagraph .paragraph {
  color: var(--color-white);
}
body main .contact .letsDoThis .splitParagraph .paragraph h6 {
  color: var(--color-beige);
}
body main .contact .letsDoThis .splitParagraph .paragraph p {
  font-size: 0.8rem;
  color: inherit;
}
@media (max-width: 480px) {
  body main .contact .letsDoThis .splitParagraph .paragraph p {
    font-size: 0.7rem;
  }
}
body main .contact a {
  color: var(--color-beige);
}
body main .contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
}
@media (max-width: 1024px) {
  body main .contact form {
    width: 100%;
    height: 50rem;
  }
}
body main .contact form .formGroup {
  width: 100%;
}
body main .contact form .formGroup input {
  padding-left: 2rem;
  height: 5rem;
  border-radius: 4rem;
  border: 1px solid #fff;
  background-color: var(--color-sand);
  color: var(--color-beige);
}
body main .contact form .formGroup textarea {
  padding: 1.8rem 0 0 2rem;
  height: 15rem;
  border-radius: 4rem;
  border: 1px solid #fff;
  background-color: var(--color-sand);
}
body main .contact form .formGroup input::-moz-placeholder {
  color: var(--color-beige);
}
body main .contact form .formGroup input::placeholder {
  color: var(--color-beige);
}
body main .contact form .formGroup textarea::-moz-placeholder {
  color: var(--color-beige);
}
body main .contact form .formGroup textarea::placeholder {
  color: var(--color-beige);
}
body main .contact form button {
  height: 4.5rem;
  width: 12rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--color-white);
  background-color: var(--color-sand);
  color: var(--color-beige);
  font-family: var(--font-audiowide);
}
body footer .newsletter {
  height: 28rem;
  padding: 4rem 0 4rem 0;
  background-color: var(--color-brown);
  color: var(--color-beige-dark);
}
body footer .newsletter h3 {
  font-family: var(--font-bethellen);
  text-align: center;
  margin-bottom: 5rem;
}
body footer .newsletter p {
  font-family: var(--font-audiowide);
  text-align: center;
  color: var(--color-beige-dark);
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  body footer .newsletter p {
    padding: 0 2rem 0 2rem;
    font-size: 0.8rem;
  }
}
body footer .newsletter .input {
  display: flex;
  justify-content: center;
  padding: 0 10rem 0 10rem;
}
@media (max-width: 768px) {
  body footer .newsletter .input {
    padding: 0 1rem 0 1rem;
  }
}
body footer .newsletter .input input {
  height: 3.5rem;
  width: 80%;
  background-color: var(--color-brown);
  padding: 0 1rem 0 0;
  border: none;
  border-bottom: var(--color-white) solid 0.1rem;
  margin-right: 4rem;
}
@media (max-width: 768px) {
  body footer .newsletter .input input {
    margin-right: 1rem;
  }
}
body footer .newsletter .input input::-moz-placeholder {
  color: var(--color-beige-dark);
}
body footer .newsletter .input input::placeholder {
  color: var(--color-beige-dark);
}
@media (max-width: 768px) {
  body footer .newsletter .input input::-moz-placeholder {
    font-size: 0.8rem;
  }
  body footer .newsletter .input input::placeholder {
    font-size: 0.8rem;
  }
}
body footer .newsletter .input button {
  height: 3.5rem;
  width: 15rem;
  background-color: var(--background-color-brown-clear);
  border: none;
  color: var(--color-beige-dark);
  font-family: var(--font-audiowide);
}
body footer .footer {
  background-color: var(--color-sand);
  padding: 0 3rem 0 3rem;
}
body footer .footer .wrapperBloc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media (max-width: 1024px) {
  body footer .footer .wrapperBloc {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  body footer .footer .wrapperBloc {
    margin-bottom: 3rem;
    width: 100%;
  }
}
body footer .footer .wrapperBloc .miniWrapper {
  margin: 3rem 0 2rem 0;
  color: var(--color-white);
}
body footer .footer .wrapperBloc .miniWrapper h4 {
  font-family: var(--font-bethellen);
  margin-bottom: 2rem;
}
@media (max-width: 1024px) {
  body footer .footer .wrapperBloc .miniWrapper h4 {
    text-align: center;
    font-size: 1.2rem;
  }
}
body footer .footer .wrapperBloc .miniWrapper h4 .point {
  color: var(--color-orange);
}
body footer .footer .wrapperBloc .miniWrapper .direction {
  font-family: var(--font-audiowide);
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}
@media (max-width: 1024px) {
  body footer .footer .wrapperBloc .miniWrapper .direction {
    text-align: center;
  }
}
body footer .footer .wrapperBloc .miniWrapper .direction a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 1024px) {
  body footer .footer .wrapperBloc .miniWrapper .direction a {
    font-size: 0.8rem;
  }
}
body footer .footer .wrapperBloc .miniWrapper .direction p {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 1024px) {
  body footer .footer .wrapperBloc .miniWrapper .direction p {
    font-size: 0.8rem;
  }
}
body footer .footer .wrapperBloc .information .direction {
  display: flex;
  flex-direction: column;
}
body footer .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  color: var(--color-white);
  font-family: var(--font-audiowide);
}
@media (max-width: 1024px) {
  body footer .line {
    flex-direction: column;
    text-align: center;
    height: 12rem;
  }
}
body footer .line p {
  color: inherit;
  width: 33.3333333333%;
  margin: 0;
}
@media (max-width: 1024px) {
  body footer .line p {
    width: auto;
    font-size: 0.8rem;
  }
}
body footer .line .social {
  width: 33.3333333333%;
  display: flex;
  padding: 0 3rem 0 3rem;
  justify-content: space-around;
}
@media (max-width: 768px) {
  body footer .line .social {
    padding: 0;
    width: 80%;
  }
}
@media (max-width: 768px) {
  body footer .line .social svg {
    height: 1rem;
  }
}
body footer .line a {
  width: 33.3333333333%;
  text-align: end;
  color: inherit;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  body footer .line a {
    text-align: center;
    font-size: 0.8rem;
  }
}
body .reveal {
  position: relative;
  opacity: 0;
}
body .reveal.active {
  opacity: 1;
}
body .active.fade-bottom {
  animation: fade-bottom 1s ease;
}
body .active.fade-bottomOne {
  animation: fade-bottom 0.6s ease;
}
body .active.fade-bottomTwo {
  animation: fade-bottom 0.9s ease;
}
body .active.fade-bottomThree {
  animation: fade-bottom 1.2s ease;
}
body .active.fade-bottomFour {
  animation: fade-bottom 1.5s ease;
}
body .active.fade-top {
  animation: fade-top 1.4s ease;
}
body .active.fade-left {
  animation: fade-left 1s ease;
}
body .active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100%);
    opacity: -100;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}/*# sourceMappingURL=contact.css.map */