@font-face {
  font-family: "Jockey One";
  src: url("./font/") format("woff2"), url("./font/") format("woff");
}

@font-face {
  font-family: "Just Another Hand";
  src: url("./font/") format("woff2"), url("./font/") format("woff");
}
