<div class="cardOccasions">
	<img src="{{ asset('css/assets/2cvBlanche.jpeg') }}" alt="">
	<div class="description">
		<h4 class="titleDescription">Citroen 2 cv (2eme Generation) 0.6 29 special</h4>
		<p class="price">13 500€</p>
		<span class="payment">Paiement sécurisé</span>
		<div class="filter">
			<div class="years">Année 1996</div>
			<div class="kilometers">Kilometrages</div>
			<div class="fuel">Carburant</div>
			<div class="gearbox">Boite de vitesse</div>
		</div>
	</div>
</div>
