<!DOCTYPE html>
<html>
	{% include 'base_head.html.twig' %}

	<!-- BODY -->
	<body>
		<!-- NAVBAR -->
		<nav class="navbar navbar-expand-lg reveal fade-top">
			{% include "_components/_navbar.html.twig" %}
		</nav>
		<!-- MAIN -->
		<main>
			<!-- HEADER -->
			<header class="reveal fade-left">
				{% include "_components/_header.html.twig" %}
			</header>

			<!-- SECTION -->
			<section class="categorie reveal">
				{% include "_components/_sectionCategorie.html.twig" %}
			</section>

			<!-- SECTION -->
			<section id="services" class="services reveal">
				{% include "_components/_sectionServices.html.twig" %}
			</section>

			<!-- SECTION -->
			<section class="avis reveal">
				{% include "_components/_sectionAvis.html.twig" with {'form': form} %}
			</section>
		</main>

		<!-- FOOTER -->
		<footer class="reveal">
			{% include "_components/_footer.html.twig" %}
		</footer>
	</body>
</html>
