<!DOCTYPE html>
<html>
{% include 'base_head.html.twig' %}
    <body>
        <nav class="navbar navbar-expand-lg">
            {% include "_components/_navbar.html.twig" %}
        </nav>
        <header>
            <img class="voitureRouiller" src="{{ asset('css/assets/voitureRouiller.png') }}" alt="wallpaper">
            <div class="divNewGreatThings">
                <img class="newGreatThings" src="{{ asset('css/assets/newGreatThings.png') }}" alt="newGreatThings">
            </div>
        </header>
        <footer>
            {% include "_components/_footer.html.twig" %}
        </footer>
    </body>
</html>