<!DOCTYPE html>
<html>
	{% set page_style = 'css/pages/nosOccasions.css' %}
	{% include 'base_head.html.twig' %}
	<!-- BODY -->
	<body>

		<!-- NAVBAR -->
		<nav class="navbar navbar-expand-lg">
			{% include "_components/_navbar.html.twig" %}
		</nav>

		<!-- MAIN -->
		<main>
			<!-- SECTION -->
			<section class="voitureOccasions">
				{% include "_components/_cardOccasions.html.twig" %}
			</section>
		</main>
		<!-- FOOTER -->
		<footer>
			{% include "_components/_footer.html.twig" %}
		</footer>
	</body>
</html>
