header {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .voitureRouiller {
    width: 100vw;
    background-size: cover;
  }
  .divNewGreatThings {
    width: 40rem;
    height: 40rem;
    position: absolute;
    top: 15%;
    left: 27%;

    .newGreatThings {
      width: 50rem;
      height: 30rem;
    }
  }
}
