.avis {
  .headAvis {
    margin: 5rem 0 5rem 0;
    .titleAvis {
      text-align: center;
      font-family: var(--font-bethellen);
      margin-bottom: 3rem;
      span {
        color: var(--color-orange);
      }
    }
    p {
      text-align: center;
      padding: 0 3.5rem 0 3.5rem;
    }
  }

  .wrapperAvis {
    display: flex;
    column-gap: 4rem;
    margin: 0 4rem 5rem 4rem;

    @include lg-max {
      column-gap: 2rem;
      margin: 0 2rem 5rem 2rem;
    }

    @include md-max {
      flex-direction: column;
      align-items: center;
    }

    .avis {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      text-align: center;
      height: 31rem;
      width: calc(100% / 3);
      background-color: var(--color-sand);
      color: var(--color-white);
      font-family: var(--font-audiowide);
      padding: 1rem 1.5rem 1rem 1.5rem;
      overflow: hidden;

      @include md-max {
        margin-bottom: 3rem;
        width: 80%;
      }

      img {
        border-radius: 50%;
        object-fit: cover;
        height: 9rem;
        width: 9rem;

        @include lg-max {
          height: 7rem;
          width: 7rem;
        }
      }

      h4 {
        span {
          color: var(--color-orange);
        }
      }

      p {
        font-size: 0.8rem;
        color: var(--color-white);
        height: 8rem;
        margin: 0;
        overflow-y: scroll;

        span {
          color: var(--color-orange);
        }
      }
    }
  }

  .readAvis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-sand);

    .titleReadAvis {
      font-family: var(--font-bethellen);
      margin: 2rem 0 2rem 0;
      color: var(--color-white);

      .point {
        color: var(--color-orange);
      }
    }

    .star-rating {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 2rem;

      .rating {
        display: none;
      }

      label {
        font-size: 30px;
        color: var(--color-beige);
        cursor: pointer;

        &:before {
          content: "★";
        }
      }

      .rating:checked ~ label {
        color: var(--color-orange);
      }

      label:hover,
      label:hover ~ label {
        color: var(--color-orange);
        transition: ease 0.3s;
      }
    }

    textarea {
      height: 12rem;
      width: 75%;
      margin-bottom: 4rem;
      border-radius: 1.8rem;
      color: var(--color-beige);
      background-color: var(--color-sand);
      border: solid var(--color-white) 0.1rem;
      text-align: start;
      padding-top: 2rem;
      padding-left: 2rem;
      vertical-align: top;
      font-family: var(--font-audiowide);

      .point {
        color: var(--color-orange);
      }
    }
  }
}
