.categorie {
  .headCategorie {
    margin: 6rem 0 6rem 0;
    .titleCategorie {
      text-align: center;
      font-family: var(--font-bethellen);
      margin-bottom: 3rem;
      span {
        color: var(--color-orange);
      }
    }

    p {
      text-align: center;
    }
  }

  .wrapperCategorie {
    display: flex;
    height: 27rem;
    background-color: var(--color-sand);
    font-family: var(--font-audiowide);
    margin-bottom: 6rem;

    .categorie {
      background-size: cover;
      background-position: center;
      height: 100%;
      width: calc(100% / 3);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-white);
    }

    .categorie:nth-child(1) {
      background-image: url(assets/moteur.jpg);
    }

    .categorie:nth-child(2) {
      background-image: url(assets/coccinelle3.jpg);
    }

    .categorie:nth-child(3) {
      background-image: url(assets/mecanicien.jpeg);
    }
  }

  .modalite {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    column-gap: 5rem;
    padding: 8rem;
    background-color: var(--color-sand);

    .item {
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      width: calc(100% / 4);
      font-family: var(--font-audiowide);

      svg {
        margin-bottom: 2rem;
      }

      p {
        height: 2rem;
        font-size: 0.8rem;
        color: var(--color-white);
      }
    }
  }
}
